aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
billiard==4.1.0
celery==5.3.1
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
charset-normalizer==3.2.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==4.1
django-cors-headers==3.13.0
django-redis==5.2.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
dnspython==2.4.1
frozenlist==1.3.3
idna==3.4
kombu==5.3.1
mongoengine==0.27.0
multidict==6.0.4
Pillow==10.0.0
prompt-toolkit==3.0.39
pycryptodome==3.17
PyJWT==1.7.1
pymongo==4.4.1
PyMySQL==1.1.0
python-dateutil==2.8.2
pytz==2022.7.1
redis==4.5.1
six==1.16.0
sqlparse==0.4.3
typing_extensions==4.7.1
tzdata==2022.7
vine==5.0.0
wcwidth==0.2.6
yarl==1.9.2
